
.list {
  vertical-align: middle;
  margin-right: 15px;
}

#desktopimg{display: block}
#mobileimg{display: none}
.component {
  background: hsl(0, 0%, 100%);
  padding: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  width: 60%
}

.text-side {
  padding: 3em;
}
.row-email {
  display: flex;
}

.error-msg {
  color: hsl(4, 100%, 67%);
  display: inline-flex;
  margin-right: 0;
  margin-left: auto;
}

button {
  color: hsl(0, 0%, 100%);
  background: hsl(234, 29%, 20%);
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #888888;
  margin-top: 1em;
  border: hsl(0, 0%, 100%);
  font-weight: bold;
}
button:hover{
    background: hsl(4, 100%, 67%);
  cursor: pointer;
}

.email-input {
  border-radius: 5px;
  box-shadow: 1px 1px 1px #888888;
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 10px;
}

.error-input {
  background: hsla(4, 100%, 67%, 0.5);

  ::placeholder {
    color: hsl(4, 100%, 67%);
  }
  ::-ms-input-placeholder{
    color: hsl(4, 100%, 67%);
  }
  ::-ms-value{
    color: hsl(4, 100%, 67%);
  }
}

.email-side {
  font-family: Roboto-regular;
  padding-top: 1em;
}

.placeholder {
  color: hsl(231, 7%, 60%)
}

.success-comp{
  width: 25%;
  height: 35%;
  padding: 3em;
}
.success{
  scale:2;
}
.icon {
  background: url("../assets/images/icon-list.svg");
  height: 21px;
  width: 21px;
  display: inline-block;
}

@media (max-width: 600px) {
  .column {
    width: 100%;
  }
  .component{
    width: 100%;
    height: 100%;
    padding: 0;
    border-radius: 0;

  }
  .image{
    width: 100%;
    position: absolute;

  }
  #desktopimg{display: none}
  #mobileimg{display: block}
  .row{
    display: block;
  }
  .text-side{
    padding:0;
    position:absolute;
    bottom: 50px;
  }
}
